<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cluster State</title>
    <style>
        td {
            padding: 0 15px 0 15px;
        }
    </style>
</head>
<body>
<h2>Pods</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Service</th>
        <th>Node</th>
    </tr>
    {{range .Pods}}
        <tr>
            <td>{{.Name}}</td>
            {{if .Service}}
                <td>{{.Service.Name}}</td>
            {{else}}
                <td>kubernetes</td>
            {{end}}
            <td>{{.Node.Name}}</td>
        </tr>
    {{end}}
</table>
<h2>Services</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Namespace</th>
    </tr>
{{range .Services}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Namespace}}</td>
    </tr>
{{end}}
</table>
<h2>Nodes</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
{{range .Nodes}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Role}}</td>
    </tr>
{{end}}
</table>
<h2>Triggers</h2>
<ul>
{{range .Triggers}}
    <li>
        {{.Name}}: {{.Desc}}
    </li>
{{end}}
</ul>
<h2>Timeline</h2>
<ul>
    {{range .Timeline}}
        <li>
            [{{.Time}}] {{.Message}}
        </li>
    {{end}}
</ul>
</body>
</html>